.single_route {
    display: flex;
    gap: 20px;
    min-height: 500px;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.single-route__images,
.single-route__content {
    width: 50%; 
    height: 500px;
    border-radius: 10px;
    padding: 20px;
}

.single-route__images {
    display: flex;
    align-items: flex-start;
    gap: 15px;
}

.sr__imagesLeft {
    width: 125px;
    height: auto;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.sr__imagesLeftItem {
    width: 80px;
    height: 80px;
    border-radius: 15px;
    border: 1px solid #aaa;
    padding: 1px;
    background: #fff;
    overflow: hidden;
}

.sr__imagesLeftItem img {
    width: 100%;
    height: 100%;
}

.sr__imagesLeftItem.active {
    border: 1px solid var(--bg-py);
}

.sr__imagesRight {
    flex: 400px;
    height: 400px;
    overflow: hidden;
    background: #fff;
    border-radius: 25px;
    position: relative;
    box-shadow: 2px 2px 10px #0001;
}

.sr__imagesRight img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 25px;
}

.sr__contentTop {
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    position: absolute;
    top: 15px;
    right: 15px;
}

.sr__contentTop button {
    width: 50px;
    height: 50px;
    border: none;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 26px;
    border-radius: 10px;
    color: #fff;
    background: var(--bg-py);
}

.sr__content-share {
    display: flex;
    margin-top: 15px;
    gap: 10px;
    align-items: center;
}

.sr__content-share li {
    width: 35px;
    height: 35px;
    background: red;
    border-radius: 50%;
    display: grid;
    place-items: center;
    color: #fff;
    font-size: 18px;
}

.single-route__content p {
    font-size: 17px;
    font-weight: 500;
}

.sr__content-share li:nth-child(2) {
    background: #3B5998;
}

.sr__content-share li:nth-child(3) {
    background: #0088CC;
}

.sr__content-share li:nth-child(4) {
    background: #36D8FF;
}

.sr__content-share li:nth-child(5) {
    background: #25D366;
}

.single-route__content h2 {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 20px;
}

.single-route__content h1 {
    font-weight: 500;
    color: #fe7300;
    margin-bottom: 20px;
}

.sr__content-comment {
    display: flex;
    align-items: center;
    gap: 3px;
    margin-bottom: 20px;
}

.sr__content-comment svg {
    color: var(--bg-py);
    font-size: 18px;
}

.sr__content-comment span {
    margin-left: 10px;
    color: #999;
    font-size: 15px;
    font-weight: 500;
}

.sr__content-holat {
    margin-top: 20px;
}

.sr__content-holat.active span {
    color: #34D374;
}

.sr__content-btns {
    margin-top: 20px;
    display: flex;
    align-items: center;
    gap: 20px;
}

.sr__content-btn {
    padding: 10px;
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: 500;
    color: #fff;
    background: #fe7300;
    border: none;
    outline: none;
    gap: 5px;
    border-radius: 10px;
    cursor: pointer;
}

.sr__content-btn img {
    height: 22px;
}

@media screen and (max-width: 990px) {
    .sr__imagesLeft {
        display: none;
    }
}