
.skeleton {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    margin-top: 50px;
}

.skeleton__card {
    width: 230px;
    height: 350px;
}

.skeleton__img {
    width: 100%;
    height: 200px;
    border-radius: 7px;
    background: linear-gradient(90deg, #dedede, #f2f2f2, #dedede);
    background-size: 200%;
    animation: skeleton 1s linear infinite;
}

.skeleton__title,
.skeleton__price {
    width: 85%;
    height: 25px;
    background: #ddd;
    margin-top: 12px;
    border-radius: 7px;
    background: linear-gradient(90deg, #dedede, #f2f2f2, #dedede);
    background-size: 200%;
    animation: skeleton 1s linear infinite;
}

.skeleton__price {
    width: 60%;
}

@keyframes skeleton {
    to {
        background-position: 200%;
    }
}

@media screen and (max-width: 600px) {
    .skeleton {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .skeleton__card {
        width: auto;
    }
}