.header {
    width: 100%;
    box-shadow: 0 5px 15px #0001;
    position: sticky;
    top: 0;
    left: 0;
    margin-bottom: 15px;
    z-index: 15;
    background: #fff;
}

.header hr {
    background: #ddd;
    height: 1px;
    border: none;
    outline: none;
}

.navbar {
    height: 60px;
    display: flex;
    width: 100%;
    align-items: center;
    gap: 24px;
}

.nav__logo {
    height: 100%;
    display: flex;
    align-items: center;
}

.nav__search {
    height: 34px;
    display: flex;
    flex: 1;
    border: 2px solid var(--bg-py);
    border-radius: 8px;
    position: relative;
    background: var(--bg-py);
}

.nav__search input {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    border-radius: 7px;
    text-indent: 15px;
}

.nav__search button {
    padding: 0 15px;
    height: 100%;
    border-radius: 7px;
    font-size: 15px;
    border: none;
    outline: none;
    background: var(--bg-py);
    color: #fff;
    display: flex;
    align-items: center;
    gap: 5px;
}

.nav__links {
    display: flex;
    gap: 35px;
    align-items: center;
}

.nav__link {
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 12px;
    font-weight: 400;
    width: 37px;
    position: relative;
}

.nav__link div {
    position: absolute;
    top: -5px;
    right: -5px;
    background: var(--bg-py);
    width: 18px;
    height: 18px;
    border-radius: 50%;
    outline: 1px solid #fff;
    display: grid;
    place-items: center;
    color: #fff;
}

.nav__link img {
    height: 20px;
}

.nav__link:first-child {
    display: none;
}

.nav__bottom {
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    color: #000;
    font-size: 14px;
    font-weight: 500;
    align-items: center;
    overflow: auto;
}

.nav__bottom span {
    white-space: nowrap;
    cursor: pointer;
}

.nav__btm-span:nth-child(2) {
    color: #fff;
    background: #f00;
    padding: 2px 7px;
    border-radius: 5px;
}

.nav__bottom button {
    border: none;
    outline: none;
    display: flex;
    gap: 3px;
    align-items: center;
    background: none;
    height: 30px;
}

.nav__bottom button svg {
    font-size: 17px;
    color: var(--bg-py);
}

.nav__links2 {
    display: none;
}
.nav__linkbtn {
    width: 30px;
    height: 30px;
    border: none;
    outline: none;
    background: var(--bg-py);
    color: #fff;
    border-radius: 7px;
    display: none;
}
.nav__bottom {
    position: relative;
}
.nav_bottom-btn {
    position: sticky;
    top: 0;
    left: 0;
    background: #fff;
    height: 100%;
    padding: 0 10px;
    z-index: 5;
}

@media screen and (max-width: 990px) {
    .nav__links1 {
        position: fixed;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        height: 35px;
        width: 100%;
        border-top: 1px solid #ddd;
        background: #fff;
        z-index: 11;
        gap: 15px;
        justify-content: space-around;
    }
    .nav__link {
        flex-direction: column;
    }
    .nav__link:first-child {
        display: flex;
    }
    .nav__link span {
        font-size: 12px;
    }
    .nav__link img {
        height: 15px;
    }
    .nav__link svg {
        font-size: 19px;
    }
    .nav__bottom {
        padding: 10px 20px;
        gap: 35px;
    }
}

.nav__links2 {
    transition: .4s ease;
}

@media screen and (max-width: 700px) {
    .nav__links2 {
        position: fixed;
        top: 0;
        left: -250px;
        height: 100vh;
        width: 250px;
        display: flex;
        flex-direction: column;
        justify-content: start;
        gap: 20px;
        align-items: flex-start;
        padding: 20px;
        background: var(--bg-py);
        z-index: 22;
    }
    .nav__links .nav__link {
        width: auto;
    }
    .nav__links2 .nav__link {
        flex-direction: row;
        width: 100%;
        padding: 0 10% 0 2%;
        height: 40px;
        border-radius: 15px;
        justify-content: space-between;
        border-bottom: 1px solid #fff;
        font-size: 16px;
        color: #fff;
        background: #ffffff10;
    }
    .nav__links2.active {
        left: 0;
    }
    .nav__links2 .nav__link:hover {
        background: #fff3;
    }
    .nav__links2 img {
        filter: brightness(10);
    }
    .nav__links2 svg,
    .nav__links2 img {
        width: 40px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .navbar {
        flex-wrap: wrap;
        height: auto;
        gap: 10px;
        justify-content: space-between;
    }
    .nav__link:nth-child(2),
    .nav__link:nth-child(3) {
        display: none;
    }
    .nav__links2 .nav__link:nth-child(2),
    .nav__links2 .nav__link:nth-child(3) {
        display: flex;
    }
    .nav__katalog-btn span {
        display: none;
    }
    .nav__linkbtn {
        display: block;
    }
    .nav__search {
        flex: none;
        width: 100%;
    }
}

@media screen and (max-width) {
    .nav__links1 {
        max-width: 400px;
    }
}