.order_status {
    height: auto;
    background: #fff;
    border-radius: 15px;
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.order_status__img {
    width: 65%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.order_status__img img {
    width: 65%;
}

.order_status__body {
    width: 35%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.order_status__title {
    font-size: 36px;
    font-weight: 500;
    margin-bottom: 20px;
}

.order_status__rem {
    font-weight: 500;
    color: #888;
    font-size: 16px;
    margin-bottom: 20px;
}

.order_status__form {
    width: 100%;
}

.order_status__form div {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 100%;
}

.order_status__form label {
    width: 100%;
    font-size: 16px;
    font-weight: 500;
    color: #888;
}

.order_status__form-inp {
    width: 100%;
}

@media screen and (max-width: 990px) {
    .order_status__img {
        display: none;
    }
    .order_status {
        flex-direction: column;
        align-items: center;
    }
    .order_status__body {
        width: 80%;
        align-items: center;
    }
}

@media screen and (max-width: 660px) {
    .order_status__body {
        width: 100%;
    }
}